main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30vh;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 3.2em;
  font-weight: bold;
  color: #000;
  text-align: left;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  line-height: 105.523%; /* 31.657px */
  letter-spacing: -1.5px;
  text-align: left;
  margin-top: 20px;
  max-width: 800px;
}

.action_button {
  background-color: #fff;
  box-shadow: transparent 0 0 0 4px, rgba(18, 18, 18, 0.25) 0 6px 25px;
  color: #121212;
  border: 0;
  border-radius: 12px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  cursor: pointer;
  display: block;
  padding: 1rem 1.6rem;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  width: 150px;
  height: 60px;
  margin: 40px auto;
}

.action_button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  cursor: pointer;
}

.runner {
  position: absolute;
  bottom: 0px;
  left: 65%;
  width: 55%;
}

.footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #999999;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

@media (max-width: 768px) {
  .logo {
    width: 150px;
    height: 75px;
  }

  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 18px;
  }

  .button {
    width: 100px;
    height: 50px;
    font-size: 14px;
  }
}
