<head>
    <!-- ----- Core (General)  ----- -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Lorenzo Satta Chiris">

    <!-- ----- Core (Wesbsite)  ----- -->
    <link rel="icon" type="image/png" sizes="16x16" href=".png" />
    <link rel="icon" type="image/png" sizes="32x32" href=".png" />
    <link rel="icon" type="image/png" sizes="48x48" href=".png" />
    <link rel="icon" type="image/png" sizes="128x128" href=".png" />
    <link rel="icon" type="image/png" sizes="180x180" href=".png" />
    <link rel="icon" type="image/svg+xml" href=".svg" />

    <title data-react-helmet="true"><%= title %></title>
    <meta data-react-helmet="true" name="description" content="<%= metaDescription %>" />

    <!-- ----- Indexing and SEO  ----- -->
    <meta name="robots" content="noindex, nofollow" />

    <!-- ----- Social Media  ----- -->
    <meta property="og:title" content="noindex" />
    <meta property="og:description" content="noindex" />
    <meta property="og:image" content="noindex">

    <!-- ----- Styling (CSS) ----- -->
    <link rel="stylesheet" href="fonts.css" type="text/css" />
    <link rel="stylesheet" href="brand.css" type="text/css" />
    <link rel="stylesheet" href="<%= css %>" type="text/css" />
</head>

<body>
