<%-include("partials/header", {css:"css/home.css", title: "" , metaDescription:""}) %>

    <main>
        <h2 class="title">Decrypt Your Fit</h2>
        <p class="subtitle">
            HealthXplain empowers athletes potential with data analytics, leading to accurate insights applicable to
            their
            training. </p>
        <div class="button_container">
            <button class="action_button">
                Learn More
            </button>
        </div>
    </main>


    <div class="footer">
        © 2024 HealthXplain.
        <a class="underline" href="https://www.linkedin.com/in/lorenzo-satta-chiris/" target="_blank">
            Lorenzo Satta Chiris
        </a>
    </div>

    <img src="images/static/heart.svg" alt="" class="runner">


    <script src="javascript/home.js"></script>

    <%- include('partials/footer') -%>