<%-include("partials/header", {css:"css/home.css", title: "", metaDescription:""}) %>

<main>
  <div class="container">
    <h2 class="title">Decrypt Your Fit</h2>
    <p class="subtitle">
      HealthXplain empowers athletes potential with data analytics, leading to accurate insights applicable to their
      training. </p>
    <div class="button_container">
      <!-- <button class="action_button"  style="padding: 1rem 5rem;" onClick="location.href='http://www.example.com'">
        Register Your Interest
      </button> -->
      <button class="action_button">
        Learn More
      </button>
    </div>
    <img src="images/static/heart.svg" alt="" class="runner"> 
  </div>
  <i class="copyright">
    <sup>&copy;</sup> 
      A project by 
    <a class="underline" href="https://www.linkedin.com/in/lorenzo-satta-chiris/" target="_blank">
      Lorenzo Satta Chiris
    </a>
  </i>
</main>

<script src="/javascript/home.js"></script>

<%- include('partials/footer') -%>