<%-include("partials/header", {css:"css/home.css", title: "" , metaDescription:""}) %>

<h1>Welcome to the Homepage!</h1>

<p>This is the homepage of the website.</p>

<%- include('partials/footer') -%>